<div class="user">
<img class = 'img'[src] = "picture">
  <div class ="userinfo">
<p>{{ name }}</p>
<p>{{ email }}</p>
<p>{{ phone_number }}</p>
  </div>
</div>
<p style="padding: 5px"></p>
<!--<div *ngIf="(morningExs | async)?.length==0"> No Mxs </div>-->
<ul class = "styless"*ngFor="let morningEx of morningExs| async">
  <li class = "mxlist" >
    <div class = "title">
      {{morningEx.title}}
    </div>
    <div class = "date">
      {{morningEx.date}}
    </div>
    <div class = "description">
      <div class = "desctext">{{morningEx.description}}</div>
    </div >

  </li>
</ul>
