<div *ngIf="(morningExs | async)?.length==0"> No Mxs </div>
<ul class = "styless"*ngFor="let morningEx of morningExs| async">
  <li class = "mxlist" >
    <div class = "title">
      {{morningEx.title}}
    </div>
    <div class = "date">
      {{morningEx.date}}
    </div>
    <div class = 'user'>
      <a class = 'userlink' [href] = "morningEx.owner.name">{{morningEx.owner.name}}</a>
    </div>
    <div class = "description">
      <div class = "desctext">{{morningEx.description}}</div>
      <button class = "submit" (click) = approveMx(morningEx.title)> approve </button>
    </div >

  </li>
</ul>
