<router-outlet>
  <button (click) = login()>login</button>
  <button (click) = test()>test</button>
  <button (click) = cookie()>cookc</button>

  <form [formGroup]="mxform" class = "form" (submit)="submitMX()">

    <label for="date">Date</label>
    <input id="date" type = "text" formControlName = "date">

    <label for="title">Mx-Title</label>
    <input id="title" type = "text" formControlName = "title">

    <label for="description">Describe the MX</label>
    <input id="description" type = "text" formControlName = "description">
    <button type = "submit">Submit</button>
  </form>
</router-outlet>
