a {
  text-decoration: none;
  color: white;
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 5vh;
}

.logo {
  display: flex;
align-items: center;
}
.loggedin {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-height: 5vh;
}
.loggedinimg {
  max-height: 4vh;
}
