<mat-toolbar color="primary" class = "topbar">
  <div class = "logo">
  <mat-icon>curtains</mat-icon>
  <span><a href = "/">Mx Manager</a></span>
  </div>

  <div class = "notloggedin"*ngIf = "!isloggedin()">
    <button class = "loginbutton" (click) = login()>login</button>
  </div>

  <button class = "loggedin styless" *ngIf="isloggedin()" [matMenuTriggerFor]="menu">
    <img class = "loggedinimg" [src] = "image">
  </button>
</mat-toolbar>


<mat-menu #menu = "matMenu">
<!--  <button mat-menu-item>-->
    <a href = "me/settings" mat-menu-item> settings</a>
  <a href = "me/mxs" mat-menu-item> my-mxs</a>
  <button (click) = "logout()" mat-menu-item> logout</button>

  <!--  </button>-->
</mat-menu>
<router-outlet>

</router-outlet>
